*{
    margin: 0;
    padding: 0;
    font-size: 18pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    text-align: center;
}

#field{
    background-color: rgb(230, 230, 117);
}

.the2{
    display: flex;
    border-radius: 10px;
}

.botao{
    background-color: brown;
    border-radius: 10px;
    font-size: 30px;
}
