
#cnt{
    flex-direction: column;
    justify-content: center;
    text-align: center ;
    align-items: center;
    color:rgb(255, 255, 255);
    margin-top: 18%;
    height: 100vh;
    font-size: 40px;
  
}

.bcgb{
    background: white; 
}

.cnt2{
    font-size: 60px;

}

 .line {
    width: auto;
    height: 0.5px;
    background-color: black;
    align-items: center;
}

.cnt{
    text-align: center;
}

.container{
    width: auto;
    height: auto;
    border: solid 1px;
    margin-right: 8%;
    

} 

#qdd{
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   /*  margin-left: 50%; */
    /* background-color: rgb(2, 2, 70); */
  /*   max-width: 180px; */
    height: 60px;
    color:white ;
    position: relative;
}

