.cnt{
    text-align: center;
    color: white;
}


*{
    scroll-behavior: smooth;
}

.pagI{
    margin-left: 10px;
}
.pagED{
    margin-left: 10px;
}
#cnt{
    text-align: center;
}

header{
    position: relative;
 }

.waves{
    position: absolute;
    top: 600px; 
    bottom: 0;
    left: 0;
    right: 0;
    
  }
 
  .waves2{
    position: absolute;
    top: 1796px; 
    bottom: 0;
    left: 0;
    right: 0;
    
  }
 
  .waves3{
    position: absolute;
    top: 2110px; 
    bottom: 0;
    left: 0;
    right: 0;
    
  }

  
  .blue{
    background: rgb(33, 36, 41);
    width: auto;
 }
 .cnt3{
     color: rgb(255, 255, 255);
    font-size: 59px;
    font-weight: 600;
 }
 .cnt4{
    color: rgba(255, 255, 255, 0.765);
    font-size: 0.8em;
    font-weight: 100;
    margin-right: 14px;

 }
 .cnt5{
    color: rgb(255, 255, 255);

    font-size: 15px;
    font-weight: 400;
 }
 .cnt6{
    color:  rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;

 }
 #icon{
    align-items: center;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 8px;
 }
 .cnt7{
    color: rgba(255, 255, 255, 0.765);
    font-size: 0.8em;
    font-weight: 100;
 }

 .cnt8{
    color:  rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    margin-right: 20%;
 }
 .container123{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin-right: 15%;
    margin-left: 15%;
    position: relative;

 }
 #icon2{
    align-items: center;
    margin-right: 14px;
 }

 .footer{
    height: 150px;
    background: #00254B;
    display:inline-block;
 }

 .waves{
    position: absolute;
    top: 580px; 
    bottom: 0;
    left: 0;
    right: 0;
    
 
  }
 
  .waves2{
    position: absolute;
    top: 140px; 
    bottom: 0;
    left: 0;
    right: 0;
    
  }
 
  .waves3{
    position: absolute;
    top: 660px; 
    bottom: 0;
    left: 0;
    right: 0;
    
  }
  .wave-1{
    height: 50px;
  }