body{
    padding-top: 60px;
    background: #CBD9EA;
}
 
 .line {
    width: auto;
    height: 0.5px;
    background-color: black;
    align-items: center;
}

.cnt{
    text-align: center;
}

.container{
    width: auto;
    height: auto;
    border: solid 1px;

} 
